$fontStack: 'Karla', sans-serif;
//$fontStack: 'Playfair Display', serif;
$lineHeight: 1;
$letterSpacing: 1;

// size
$fontSize: 14px;
$fontSizeSmall: 11px;
$fontSizeLarge: 20px;

// mobile
$fontSizeMobile: 14px;
