$fontStackAlt: 'Karla', sans-serif;
$fontStack: 'Playfair Display', serif;
$lineHeight: 1;
$letterSpacing: 1;

// size
//$fontSize: 14px;
$fontSize: 16px;
$fontSizeSmall: 12px;
$fontSizeLarge: 20px;

// mobile
$fontSizeMobile: 14px;
