// colour
$black: #2c2c2f;
$white: #ececef;
$colour: $white;
$background: $black;

// size
$space: 8px;

// style
$border: 1px solid $colour;

// breakpoints
$siteWidth: 1160px;
$tablet: 1024px;
$tabletPortrait: 768px;
$mobile: 670px;

// index
$indexWrapper: 1;

// animation
$transition: 0.3s;
