// colour
$black: #2c2c2f;
$white: #fcfcff;
$background: #ececef;
$colour: $black;
$red: #ff2c2c;

// sizing
$space: 8px;
$navHeight: 40px;

// style
$border: 1px solid $black;

// breakpoints
$siteWidth: 1160px;
$tablet: 1024px;
$tabletPortrait: 768px;
$mobile: 670px;

// index
$indexWrapper: 1;
$indexNav: 100;
$indexAlert: 200;

// animation
$transition: 0.5s;
$transitionFast: 0.3s;
