.alert {
  @include padding(0, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $indexAlert;
  opacity: 0;
  transform: translate(0, $space);
  transition: transform $transition, opacity $transition;

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.alert--error {
    color: $red;
  }
}
