form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    @include padding(0, 0.25);
    width: 100%;
    display: flex;

    label {
      width: 50%;
    }

    input, textarea {
      @include padding(0.25, 0.125);
      width: 50%;
      border: 1px solid rgba($black, 0.25);
      outline: none !important;
      background: $white;
    }

    textarea {
      width: 50%;
      resize: vertical;
    }
  }

  input[type="submit"] {
    @include margin(0, 0.5);
    @include padding(0, 0.5);
    width: 100%;
    border: 1px solid rgba($black, 0.25);
    outline: none !important;
    background: $white;
    cursor: pointer;
  }
}
