@keyframes loading-anim-wrapper {
  0% { transform: translate(-5%); }// rotateZ(5deg); }
  100% { transform: translate(5%); }// rotateZ(-5deg); }
}

@mixin create-anim($deg) {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY($deg); }
  100% { transform: rotateY(-180deg); }
}

@keyframes loading-anim-1 { @include create-anim(-180deg) }
@keyframes loading-anim-2 { @include create-anim(-135deg) }
@keyframes loading-anim-3 { @include create-anim(-90deg) }
@keyframes loading-anim-4 { @include create-anim(-45deg) }
@keyframes loading-anim-5 { @include create-anim(-0deg) }

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $indexLoading;
  opacity: 0;
  pointer-events: none;
  transition: opacity $transitionSlow;
  background: rgba($black, 0.5);

  &.active {
    opacity: 1;
  }

  &.animated {
    .loading-screen__inner {
      .loading-screen__zine {
        .loading-screen__page {
          &:nth-child(1) { animation-name: loading-anim-1; }
          &:nth-child(2) { animation-name: loading-anim-2; }
          &:nth-child(3) { animation-name: loading-anim-3; }
          &:nth-child(4) { animation-name: loading-anim-4; }
          &:nth-child(5) { animation-name: loading-anim-5; }
        }
      }
    }
  }

  &.hidden {
    display: none;
  }

  .loading-screen__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;

    .loading-screen__zine {
      width: 100%;
      height: 100%;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
      animation-duration: 1.5s;

      .loading-screen__page {
        position: absolute;
        background: linear-gradient(to right, darken($background, 15%), darken($background, 7.5%), $white);
        //border: $borderGrey;
        //background: $background;
        height: 100px;
        width: 71px;
        transform-origin: 0 50%;
        top: 25%;
        left: 50%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-direction: alternate;

        &:hover {
          transform: rotateY(-30deg);
        }
      }
    }

    .loading-screen__text {
      @include padding(1, 0);
      position: absolute;
      color: $white;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
