.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $indexNav;
  display: flex;
  justify-content: center;

  .nav__inner {
    @include padding(2, 2);
    width: $siteWidth;
    height: 100%;
    display: flex;
    justify-content: center;

    .nav__pane {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav__item {
        @include padding(1, 0);
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }

      &:first-child {
        justify-content: flex-start;

        .nav__item {
          &:first-child {
            padding-left: 0;
          }
        }
      }

      &:last-child {
        justify-content: flex-end;

        .nav__item {
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: $siteWidth) {
    .nav__inner {
      width: 100%;
    }
  }
}
