.login {
  display: flex;
  justify-content: center;
  align-items: center;

  .login__pane {
    @include padding(4, 4);

    .title {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: $tabletPortrait) {
    flex-direction: column;

    .login__pane {
      &:first-child {
        border-right: none;
        border-bottom: 1px solid rgba($black, 0.75);
      }
    }
  }
}
