.table {
  display: flex;
  flex-direction: column;

  .table__header {
    font-weight: bold;
    border: $border;
    border-bottom: none;
  }

  .table__body {
    border: $border;
  }

  .row {
    border-bottom: $border;
    width: 100%;
    display: flex;

    &:last-child {
      border-bottom: none;
    }

    .cell {
      @include padding(0.5, 0.125);
      width: 100px;
      border-right: $border;

      &:last-child {
        border-right: none;
      }
    }
  }
}
