$itemHeight: 350px;
$imgHeight: ($itemHeight - $space * 4) * 0.875;
$imgWidth: $imgHeight * 0.707;
$calcP4: calc((25% - #{$imgWidth}) * (4 / 3) - (25% - #{$imgWidth}));

.zine-list {
  @include padding(2, 0);
  padding-top: $navHeight * 1.5;
  width: $siteWidth;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;

  .item {
    position: relative;
    width: 25%;
    height: $itemHeight;
    display: flex;

    .item__inner {
      @include padding(0, 2);
      height: 100%;
      width: $imgWidth;
      display: flex;
      flex-direction: column;

      .item__background {
        position: relative;
        padding-bottom: 0;
        height: 87.5%;
        flex-shrink: 1;
        perspective: 1000px;
        transform-style: preserve-3d;
        cursor: pointer;

        img {
          height: 100%;
          width: auto;
        }

        .placeholder {
          background: $white;
          height: 100%;
        }

        img, .placeholder {
          position: absolute;
          top: 0;
          left: 0;
          transform-origin: left center;
          transform: rotateY(0);
          transition: transform $transitionFast;

          &:nth-child(1) {
            position: relative;
            z-index: 2;
          }

          &:nth-child(2) {
            z-index: 1;
            box-shadow: $boxShadow;
            transform: rotateY(0) scale(0.992);
          }
        }

        &:hover {
          img, .placeholder {
            &:nth-child(1) {
              transform: rotateY(-25deg);
            }

            &:nth-child(2) {}
          }
        }
      }

      .item__title {
        height: 12.5%;
        flex-shrink: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .text {
          position: relative;

          .underline {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid $black;
            opacity: 0;
            //transform: translate(0, 0);
            transition: $transitionFast;
          }
        }
      }

      &:hover {
        .item__title {
          .text {
            .underline {
              opacity: 1;
              transform: translate(0, 0);
            }
          }
        }
      }
    }
  }

  // sizing
  .item:nth-child(4n-3) { justify-content: flex-start; }
  .item:nth-child(4n-2) { justify-content: flex-start; padding-left: $calcP4; }
  .item:nth-child(4n-1) { justify-content: flex-end; padding-right: $calcP4; }
  .item:nth-child(4n) { justify-content: flex-end; }

  @media screen and (max-width: $siteWidth) {
    width: 100%;
  }

  @media screen and (max-width: $tablet) {
    .item {
      width: 33.333333%;
      &:nth-child(3n-2) { justify-content: flex-start; padding-left: 0; padding-right: 0; }
      &:nth-child(3n-1) { justify-content: center; padding-left: 0; padding-right: 0; }
      &:nth-child(3n) { justify-content: flex-end; padding-left: 0; padding-right: 0; }
    }
  }

  @media screen and (max-width: $tabletPortrait) {
    .item {
      width: 50%;
      justify-content: center !important;
      padding-left: 0 !important;
      padding-right: 0 !important;

    }
  }
}
