$pageTransform: translate3d(0, 0, 0) rotateY(0) scale(0.99);
$pageTransformFlipped: translate3d(0, 0, 0) rotateY(-180deg) scale(0.99);
$pageTransformActive: translate3d(-1px, 0, 0) rotateY(0) scale(1.0);
$pageTransformActiveFlipped: translate3d(0, 0, 0) rotateY(-180deg) scale(1.0);

.zine-page {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 50%;
  transform-style: preserve-3d;
  cursor: grab;
  user-select: none;
  pointer-events: none;
  transition: transform $transition, border $transition;
  transform: $pageTransform;

  .zine-page__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    overflow: hidden;
    display: flex;
    transition-delay: $transitionSlow;
    background: $white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      backface-visibility: hidden;
      transition: opacity $transitionFast;
    }

    &.zine-page__front {
      &:after {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    &.zine-page__back {
      transform: rotateY(180deg);
    }
  }

  &.flipped {
    transform: $pageTransformFlipped;
  }

  &.disable-transition {
    transition: none;
    cursor: grabbing;
  }

  &.visible {
    .zine-page__inner {
      img {
        //opacity: 0.75;
      }
    }
  }

  &.active {
    pointer-events: all;
    transform: $pageTransformActive;

    &.flipped {
      transform: $pageTransformActiveFlipped;
    }

    .zine-page__inner {
      img {
        opacity: 1;
      }
    }
  }
}
