.zine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  display: none;
  overflow: hidden;

  &.active {
    pointer-events: all;
    opacity: 1;
    display: block;
  }

  .zine__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35.35vh; // 0.707;
    height: 50vh;
    transform: translate(-50%, -50%);
    transition: transform $transition;

    .zine__page-list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      perspective: 1000px;
      transform-style: preserve-3d;
    }

    .zine__controls {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 50%);
      display: flex;
      transition: left $transition;

      .zine__next, .zine__prev {
        @include padding(1, 2);
        font-size: $fontSizeLarge;
        cursor: pointer;
        transition: opacity $transition;

        div {
          width: $space;
          height: $space;
          border-top: 1px solid $black;
          border-right: 1px solid $black;
          transform: rotate(45deg);
        }

        &.zine__prev {
          div {
            transform: rotate(-135deg);
          }
        }
      }
    }
  }

  &[data-position='first'] {
    .zine__inner {
      transform: translate(-100%, -50%);

      .zine__controls {
        left: 100%;

        .zine__prev {
          opacity: 0.25;
          pointer-events: none;
        }
      }
    }
  }

  &[data-position='last'] {
    .zine__inner {
      transform: translate(0%, -50%);

      .zine__controls {
        left: 0%;

        .zine__next {
          opacity: 0.25;
          pointer-events: none;
        }
      }
    }
  }
}
